/* Your custom CSS here... */
body{
    background-color: #ddd;
}
.navbar-default{
        background: #150660;
        border: 0;
}
.navbar-nav>li.postadd a{
    padding: 12px 10px;
    text-transform: none;
    width: 120px;
    border: 0 none;
    color: #333 !important;
}
.navbar-default .navbar-nav>li>a ,.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover{
    text-decoration: none;
    border-bottom: solid 2px #f44336;
}
.container {
    max-width: 1140px;
}
.padding_0{
	padding: 0;
}
.head-section{
	/*background: url('../images/slide-3.jpg');*/
 /* background: url('../images/banner4.jpg');*/
   background: url('../images/home-banner.jpg');
	background-repeat: no-repeat;
	display: block;
	min-height: 300px;
	background-size: 100% 100%;
}
.search-bar{
	    padding: 80px 209px 50px 181px;
       margin: 30px 0;
}
.bdr-none{
	border: 0 none;
}
.searbar-txt{
	 background: #FF6901;
    display: block;
    max-width: 574px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    
}
.bdr-none li{
	box-shadow: 9px -6px 7px -6px rgba(0, 0, 0, 0.8);
}
.bdr-none li a{
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	background: #a1a1a1;
	 border: 0;
    padding: 20px 29px 20px 20px;
    margin: 0px -2px 0 0;
      border-radius: 4px 4px 0 0;

}
.menu-active>li.active>a, .menu-active>li.active>a:focus, .menu-active>li.active>a:hover {
    background-color:#FF6900 !important;
    cursor: default;
    color: #fff;
    border-bottom-color: transparent;
    border:0 none;
}
.srch-input{
	width: 100%;
    background-color: #FF6900;
    padding: 30px;
    color: #fff;
    border: 0 none;
    padding-bottom: 40px;

}
.srch-land input,.select-inp{
	border: 0 none !important;
	border-radius: 4px;
	color: #666;
	width: 100%;
	border: 0 none;
	padding: 0 10px;
	height: 40px;
	
	
}
.jm-srch-input{
	width: 70% !important;border-top-right-radius: 0 !important;border-bottom-right-radius: 0 !important;
}
.srch-btn{
	margin-left: -6px;
    margin-top: -2px;
    border-top-left-radius: 0 !important;
    height: 40px;
    border-bottom-left-radius: 0 !important;
}

/* top footer section style */
.top-footer-sect{
	max-width: 100%;
	background: url('../images/bk-footer.jpg');
	padding: 0;
	margin: 0;
	padding-top:60px;
}
.jumi-cont-text,.contector-list{
	border: 1px solid #aaa;
    text-align: center;
    padding: 0 10px;
}
.contector-list{
    border-right: 0 !important;
    border-bottom: 0 !important;

}
.jumi-social{
	color: #1BA260;
    font-size: 30px;
    margin-top: 10px;

}
.facc-accont,.googlep {
   /* box-shadow: 5px 5px 5px #ddd;*/
    /* background: #E7D8C1; */
    margin-bottom: 20px;
    /* padding: 50px 0; */
    text-align: center;
    width: 255px;
    height: 45px;
    margin-bottom: 20px;
}
.subsbtn{
    box-shadow: none;
    text-align: center;
    width: 270px;
    height: 45px;
    margin-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #D92E1A;
    color: #fff;
    border-radius: 5px;
}
.subsbtn h1{
    font-size: 18px;
    color: #fff;
    padding-top: 5px;
    font-weight: 400;
    font-family: Roboto Condensed,Helvetica Neue,Helvetica,sans-serif;
}
.facc-accont h1,.googlep h1{
    font-size: 18px; 
    padding-top: 5px;
}
.jumi-cont-text h3{
			font-size: 14px;
			font-weight: 600;
			color: #d8ecf0;
			margin-top: 8px;
			margin-bottom: 15px;
}
.jumi-cont-text p{
    color: #aaaaaa;
    font-weight: 400;
    padding-bottom: 9px;
    line-height: 1.7em;
}
.footer-contnt{
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer-contnt{
	color: #fff;
    padding-top: 25px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
}
.footer-text{
	color: #aaaaaa;
	line-height: 22px;
	font-size: 13px;
	display: block;
	text-align: left;
	font-weight: 400;
	margin-top: 20px;
}
.fotr-contact{
	  padding: 15px 0;
    line-height: 25px;
}
.fotr-contact li span{
		color: #aaaaaa;
}
.fotter-title{
	height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 0;
    background: url(../images/separation_line.gif) no-repeat;
    background-position: bottom left;
    margin-bottom: 30px;
}
.footr-sec img{
    max-width: 100%;
    height: 90px;
    width: 90px;
}
.footr-sec{
	margin-bottom: 15px;
}
.f-desc{
	font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #aaaaaa;
}
.f-price{
	color: #f44336;
    font-size: 13px;
}
.footr-gallery img{
	max-width: 100%;
	width: 92px;
	height: 80px;
	margin-bottom:10px;
}
.letest-news{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 20px;
    color: #aaaaaa;
}
.letest-news a{
	
}
.footer-links{
	 color: #f44336;
    font-size: 13px;
}

/* user profile */
.profil-banner{
	border-radius: 4px;
	/*box-shadow: 0 3px 0 0 #d5e1e6;*/
}
.banner-pannerl{
		padding: 24px;
		background: #fff;
}
.banner-img{
	/*margin: -24px;*/
   /*margin-bottom: 24px;*/
   position: relative;
}
.banner-detail{
	position: relative;
	background: url('../images/sellers/fitted.png');
	border-radius: 4px 4px 0 0;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.seller-pic{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 1em;
	display: table;
}
.pic-postion{
	display: table-cell;
	vertical-align: middle;
}
.pic-setup{
	width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 2px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}
.pic-setup img{
	width: 100%;
	display: block;
    width: 100%;
    display: block;
    z-index: 9999;
}
.seller-descrpt{
	margin: 28px 0;
}
.des-cont{
	max-height: 9em;
	overflow: hidden;
	margin-bottom: 2rem;
	
}
.des-cont p{
	word-wrap: break-word;
	word-break: break-word;
	max-width: 900px;
}
.user-info{
	    padding: 10px 2px 0 2px;
}
.hour{
	margin-top: 1rem;
    word-break: break-word;
    word-wrap: break-word;
    padding-bottom: .8rem;
    border-bottom: 1px solid #d4ded9;
    display: block;
    width: 100%;
    float: left;
}
.icon{
	  float: left;
    width: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #1BA260;
}
.text{
	margin-left: 50px;
    font-size: 15px;
    text-align: left;
    line-height: 22px;
}
.more-add-box{
	padding: 12px 8px;
    border-radius: 3px 3px 4px 4px;
    border: 1px solid rgba(255,255,255,0);
    border-top: 1px solid #d4ded9;
    -webkit-box-shadow: 0 2px 0 0 rgba(212,222,217,0);
    box-shadow: 0 2px 0 0 rgba(212,222,217,0);
    min-height: 180px;
    overflow: hidden;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.property-details{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    margin-bottom: 18px;
}
.propery-img{
	min-width: 200px;
	min-height: 200px;
    max-width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.property-detail{
   padding: 0 20px;
   display: block;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    padding-bottom: 10px;
    padding-left: 0;
}
.property-detail a{
	font-size: 18px;
    color: #333;
    font-weight: 500;
    line-height: 30px;
}
.property-detail p{
	   font-size: 14px;
       line-height: 25px;
       margin: 0;
       padding: 0;
}
.add-share{
	padding: .8rem 0;
    margin: 0;
    border-width: 1px 0;
    list-style: none;
}
.add-share li{
	display: inline-block;
	/*margin-right: 1.5em;*/
    margin-right: 10px;
}
.facebook{
	
}
.faccbook-a{
	display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: url('../images/share-1x-ee500231.png');
    background-position: 0 0;
   
}
.twitter{

}
.twitter-a{
	display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: url('../images/share-1x-ee500231.png');
    background-position: 0 -72px;
}
.googleplus{

}
.googleplus-a{
		display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: url('../images/share-1x-ee500231.png');
    background-position: 0 -36px;
}
.lindn-a{
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: url('../images/link.png');
    background-size: cover;
   
}
.s-btn{
	width: 70px;
    background-color: #1BA260;
    height: 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 0 none;
    border: 1px solid #1BA260;
}
.sch-inpt,.sch-inpt:hover,.sch-inpt:focus{
	width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.user-list{
	width: 100%;
	text-align: center;
	display: block;
	overflow: hidden;
	font-size: 14px;
	font-weight: normal;

}
.user-list img{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 15px;
}
.user-list h3{
	line-height: 20px;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 0;
}
.user-list p{
	margin: 0;
	font-size: 12px;
	text-align: center;
	padding: 0;
}
.fnd-total{
	 margin: 0;
    font-size: 15px;
    font-weight: 600;
    height: 39px;
    padding-top: 12px;
    padding-left: 15px;
}

/* header slider section */
.section-slide{
    background: url('../images/jmd-head-bg.jpg');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    min-height: 115px;
    margin: 0px auto;
    display: block;
}
.ass-title{
    width: 100%;
    text-align: center;
    display: block;
    clear: both;
   /* padding: 5px;*/
   padding: 0;
    font-weight: 700;
    color: #150661;
}
.ass-title h1{
     font-weight: 700;
    /* border-bottom: 5px solid #222; */
    width: 190px;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 8px;
    font-size: 24px;
    color: #453A7E;
}

.houser-offer{
    background: url(../images/housing/1.jpg) no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    position: relative;
    
}
.padding-5{
    padding: 0 0px;
    margin-bottom: 10px;
}
.houser-offer-content{
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 100px 40px 0 50px;
    height: 400px;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.houser-offer:hover .houser-offer-content{  
   
    background-color: #00B5EC;
    height: 462px;
    /*width: 110%;*/
    width: 343px;
    margin-top: -30px;
    margin-left: -10%;
    padding-top: 50px;
    z-index: 5;
    background-image: none;
    box-shadow: 0 0 20px rgba(114,114,114,0.5);
    
}
.houser-offer:hover .list-value {
        opacity: 1;
}
.list-value{
    opacity: 0;
    display: block;
    text-align: left;
}
.list-value p{
    color:#fff;
} 
.houser-offer-content h3{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
    line-height: 30px;
    text-align: left;
}
.houser-offer-content em{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    font-family: monospace;
    font-weight: 700;
}
.houser-offer-content p{
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    font-weight: normal;
}

.header-style{
            box-shadow: 5px 5px 5px #ddd;
   /* background: #E7D8C1;*/
    margin-bottom: 20px;
   /* padding: 50px 0;*/
    text-align: center;
}
.header-style h1{
        font-size: 30px;
    font-weight: 600;
    color: #333;
    font-family: serif;
}
.form-style-2{
    max-width: 100%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
        box-shadow: 5px 5px 10px 5px #eee;
        border: 1px solid #ddd;
        /*background: #E7D8C1;*/
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
    
}

.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:70px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

/* section latest property */
.latest-col{
    padding: 0 15px;
}
.property-img-sec{
    width: 100%;
    padding: 0;
    margin-top: 30px;

}
.propert-img{
    background: url('../images/property/top-add.jpg');
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.propty-info{
    background:#f44336;
    height: 55px;
}
.left-cont{
    width: 75%;
    float: left;
}
.price-cont{
    width: 25%;
    float: right;
}
.inf-map{
    padding: 10px 7px;
    color: #fff;
    font-size: 16px;
}
.info{
    height: 50px;
}
.info-text{
    color: #fefefe;
    font-size: 13px;
}
.price {
    color: #FFFEFE;
    font-size: 16px;
    font-weight: 900;
    padding-top: 16px;
    float: left;
}
.extra-info{
    padding: 0;
    width: 100%;
    float: left;
    border: 1px solid #aab4aa;
}
.extra-box{
    padding: 20px 30px;
    width: 100%;
    float: left;
    padding-bottom: 0;
}
.box-header{
    color: #212121;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.box-text{
    color: #727272;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    word-spacing: 2px;
}
.box-footer{
    padding: 0 0px 20px 30px;
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    float: left;
    border-top: 1px solid #aab4aa;
   /* background: #040438;*/
    background: #ddd;
}
.scale{
    width: 33%;
    float: left;
}
.room{

}
.birth{

}
.icn{
    font-size: 18px;
    margin-right: 6px;
    margin-top: 10px;
   color: #333;
}
.icn-text{
    font-size: 13px;
    color: #333;
}

.srvc-title{
    background: #AEC52C;
    padding-left: 15px;
    padding: 10px 15px;
    color: #fff;
}
.srvce-box{
    display: block;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
}
.rd-mre{
    background: #AEC52C !important;
}
.serc-icon{
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}
.icn-title{
    font-size: 20px;
    color: #222;
}
.srvc-content p{
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;
    font-weight: 400;
}
.overvw{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #999;
}
.overvw h2{
        font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}
.descript{
        padding: 30px 15px;
}
.animat-list{
    padding: 30px 15px;
    line-height: 30px;
    list-style-type: none;
    float: left;
    width: 100%;
}
.animat-list li{
    float: left;
    width: 25%;
    line-height: 31px;
    font-size: 15px;
    font-weight: 400;
}
.cort{
    color: #EC8A25;
    margin-right: 10px;
}
.video-rv{
    
}
.lft-dtl{
    width: 35%;
    float: left;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
}
.rlt-detl{
    width: 65%;
    float: right;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
}
.panel-contact-seller h2{
        color: #fff;
    text-align: center;
    padding: 20px 0;
}
.cont-det{
    max-width: 300px;
    margin: 0 auto;
    overflow: auto;
    display: block;
    margin-top: 30px;
}
.adv-logo{
        text-align: center;
        margin-bottom: 20px;
}
.panel-contact-seller h4{
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
    line-height: 30px;
}
.msg{
    width: 100%;
    overflow: hidden;
    height: 100px;
    text-align: left;
}
.property-img{
    width: 130px;
    display: block;
    float: left;
    margin: 0 auto;
    height: 130px;
    position: relative;
}

.property-img img{
    width: 100%;
    height: 110px;
    padding-left: 5px;
}
.prot-cont{
    float: left;
    display: block;
    padding-left: 15px;
    line-height: 20px;
    color: #222;
    line-height: 15px;
}
.prot-cont h4{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #4682b4;
    line-height: 15px;
}
.prot-cont h5{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #999;
    line-height: 15px;
 }
 .prot-cont p{
    color: #D0DEA3;
    text-align: left;
    font-size: 14px;
 }
.ner{
    background-color: #213689;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 30px;
}
.properti-list{
    text-align: center;
    overflow: -webkit-paged-x;
    display: block;
    background: #fff;
}
.proprty-dt{
   display: block;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 5px 0;
}
.proprty-dt h1{
    background: none repeat scroll 0 0 #0094af;
    border-radius: 3px 0 0 3px;
    color: #fff;
    font-size: 18px;
    min-width: 48px;
    padding: 0px 15px;
    position: absolute;
    left: 0;
    text-align: center;
    top: 10px;
    z-index: 100;
}
.property-img h1:before{
        content: '';
    position: absolute;
    height: 0;
    width: 0;
    top: 100%;
    left: 0;
    border-top: 10px solid #007286;
    border-right: 10px solid transparent;
}
.our-propert{
    /*background-color: rgba(12, 29, 243, 0.74);*/
    text-align: center;
    padding: 15px 0 3px;
    color: #fff;
}
.user-name{
    width: 100%;
    display: block;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 230px;
}
.details-fl{
    display: block !important;
    color: #222;
    background: #3D709B;
    color: #fff; 
    min-width: 130px; 
    padding: 8px;
    height: 36px;
}
.details-fl span{
    font-size: 12px; 
    padding-right: 8px;
    float: left;
}
.item-list .make-favorite span{
    width: 100px;
    display: block;
    font-size: 12px;
    float: left;
    height: 35px;
    padding: 5px;
}
.fvv{
    float: left;
    font-size: 15px;
    margin-top: 0px;
}
.srch-footer{
    padding: 0 0px 5px 16px;
    margin-left: 0;
    margin-top: 0px;
    width: 100%;
    float: left;
    background: #e6e6e6;
}
.membership-logo {
    max-width: 250px;
    max-height: 250px;
}
.membership-logo img{
    width: 100%;
}
a.info-link {
    font-weight: 600;
    color: #666;
    font-size: 15px;

}
.lat-col{
    padding: 0 6px;
}
.lnd-btn{
   /* background: #FF6900;*/
    width: 100%;
    border: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 160px;

}
.user-dmn{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-row-wrapper{
   /* margin-top: 10% !important;*/
}
.select2-container{
    z-index: 2;
}
.premium-head{
    text-align: center;
   
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
   
    background: #FF6900;
    padding: 12px 0px;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}
.srvc-bg,.srvc-bg:hover,.srvc-bg:focus{
    background-color: #026400;
    border:0 none;
}
.prpert-title{
        font-size: 18px;
    padding: 5px 0;
    text-align: left;
    padding-left: 5px;
}
.w-offer{
    text-align: center;
    background-color: #213689;
    color: #fff;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
}
.latest-offer{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #213689;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    width: 26%;
}
.service {
    margin-bottom: 80px;
    float: left;
}
.offer-service{
    margin-top: 30px;
    margin-bottom: 45px;
}
.offer-service h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #FF8A42;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    width: 250px;
   
}
.serv-cont {
    float: left;
}
.serv-cont-item-desc {
    padding-left: 25px;
    padding-right: 0;
}
.serv-item-header {
    color: #AED134;
    font-weight: 900;
    font-size: 16px;
    margin-top: 26px;
    text-transform: uppercase;
}
.serv-item-desc {
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}
.serv-cont-item-img {
    color: #FF8A42;
    font-size: 40px;
    margin-top: 18px;
}
.view-btn{
    background: none;
    border: 1px solid #fff;
    width: 156px;
    height: 42px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: none;
    margin-top: 44px;
    display: block;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 900;
    text-align: center;
    color: #fff;
}
.view-btn:hover{
   color: #fff;
}
.view-btn:active:hover{
  background-color: #ac2925;
    border-color: #761c19;
}
.row > .pager {
    background: #E9E9E9;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 0;
    border-radius: 4px;
}
.pager li {
    display: inline;
}
/* slick slider */
.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
.main h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
#wrapper {
   /* background-color: #fff;*/
   background-color: #E9E9E9;
    height: auto;
    display: block;
}
.right-side-add{
    height: auto;
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}
.adds-wrapper {
    background: #fff;
    overflow: hidden;
}
.block-heading{
   /* background: #007300; */
    background: #1D078C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 35px;
    margin-bottom: 3px;
}
.block-heading h4{
    line-height: 35px;
    color: #fff;
    display: inline-block;
    padding-right: 20px;
    border-radius: 3px 0 0 3px;
}
.heading-icon{
    background: rgba(0,0,0,.1);
    text-align: center;
    width: 50px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    border-radius: 3px 0 0 3px;
}
.icon-design{
    font-size: 20px;
    position: absolute;
    right: -7px;
    top: 8px;
}
/* owl slider  */
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
    margin-right: 7px !important;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}



#owl-demo .item{
 /* margin: 3px;*/
 margin-right: 0 5px;
}
#owl-demo .item img{
  display: block;
  width: 207px;
  height: 167px;
 
}
.addres{
    height: 47px;
    background: #1D078C;
    width: 207px;
    padding: 0px 15px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: normal;
}
.space{

}
.place{

}
.land-details{
    background: #e6e6e6;
    -moz-border-radius: 0 7px 0 0;
    -webkit-border-radius: 0 7px 0 0;
    border-radius: 0 7px 0 0;
    margin: 0 0 12px;
    padding: 2px 0 2px;
    margin-bottom: 0;
}
.land-item-list{
    border: 1px solid #150660;
    display: block;
    overflow: hidden;
    clear: both;
    border-radius: 0 7px 7px 0;
    transition: all 0.3s ease 0.1s;
    background: #ffffff;
    margin-bottom: 25px;
}
.add-img{
    position: relative;
    width: 236px;
    margin: 0 auto;
}
.overlay{
    width: 100%;
    height: 175px;
    line-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.1s;
    opacity: 0;
    background: rgba(0,0,0,.4);
}
.add-img:hover .overlay{
        opacity: 1;
}
.adv-logo img{
    width: 60%;
    margin: 0 auto;
}
.profile-info{
   min-height: 50px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
   /* border-bottom: 1px solid #ddd;*/
   /* position: absolute;
    bottom: 0;
    right: 0;*/
}
.profile-navbar li{
    border-right: 1px solid #ddd;
}
.msg-form{
    display: block;
    margin-top: 20px;
    text-align: center;
}
.add-property{
    background: #fff;
    background-color: #66A5CE;
    padding: 0;
    padding-right: 15px;
}
.cont-dtnl{
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}
.more-details{
    padding-top: 5px;
}
.cont-dtnl li{
    display: inline-block;
    margin-right: 10px;
    border:1px solid #ddd;

}
.property-detail p{
    font-size: 14px;
}
.property-land h1 {
    background: none repeat scroll 0 0 #0094af;
    border-radius: 3px 0 0 3px;
    color: #fff;
    font-size: 18px;
    width: 130px;
    height: 35px;
    /* padding: 0px 45px; */
    position: absolute;
    left: -9px;
    text-align: center;
    top: 20px;
    z-index: 100;
    transform: rotate(-40deg);
    overflow: hidden;
}

.property-table tr:nth-child(odd)  { background-color:#eee; }
.property-table tr:nth-child(even) { background-color:#fff; }
.property-table>tbody>tr>td{
    font-size: 15px;
    padding: 12px 15px;
}
.propert-dtl{
    min-height: 80px;
    background-color: #66A5CE;
    padding-left: 15px;
    padding-top: 13px;
    display: block;
    overflow: auto;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.propert-dtl h1{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.pricetag{
    top: 10px;
}
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav li a {
  border-radius: 0;
}
#myCarousel .nav {
    background:#eee;
}

/* user guide line */
.main-bg-section{
    height: 553px;
    background: url('../images/bgimages.webp') no-repeat;
    background-size: cover;
}
.linkarrow{
    position: relative;
    float: none;
    width: 434px;
    height: 433px;
    background: url(../images/connect-arrows.png) center center no-repeat;
    background-size: 100% 100%;
}

.circle-img{
    border-radius: 50%;
    transition: transform ease 0.2s;
}
.linkarrow .circle-img{
    position: absolute;
    width: 56px;
    height: 56px;
    border: 2px solid #68c9c9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'museo_slab', sans-serif;
    font-size: 12px;
    color: #68c9c9;
    background: #277397;
    background: radial-gradient(ellipse at center, #53F0FF 0%,#23636C 100%);
}
.linkarrow .center{
    position: absolute;
    width: 81px;
    height: 81px;
    top: 50%;
    left: 50%;
    margin: -44px 0 0 -41px;
    z-index: 1;
    border-color: #fff;
    color: #fff;
    font: 16px/18px 'Roboto Condensed', sans-serif;
    /*background: linear-gradient(to bottom, #b9d442 0%,#75c04b 100%);*/
    background: linear-gradient(to bottom, #53F0FF 0%,#23636C 100%);
}
.icon-dollar{
    display: block;
    margin: 10px 28px 2px;
    color: #fff;
    font-size: 36px;
    line-height: 30px;
}
.circle-img span{
    display: block;
    text-align: center;
    line-height: 12px;
    color: #fff;
}
.top{
        position: absolute;
        top: 0;
       left: 50%;
      margin-left: -28px;
}
.right{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -25px;
}
.bottom{
     position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -28px;
}
.left{
     position: absolute;
    left: 0;
    top: 50%;
    margin-top: -22px;
}
.icon-find{
    margin: 4px 0 2px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.icon-figure{
    margin: 4px 0 2px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    display: block;
}
.icon-found{
    margin: 4px 0 2px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.icon-flip{
    margin: 4px 0 2px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.image-pic{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 148px;
    height: 148px;
    color: #fff;
    font: 18px/20px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border: 2px solid #fff;
    z-index: 0;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%);
}
.top-right{
       margin: -150px 0 0 -2px;
    padding: 47px 20px 0 0;
    background-color: #9EDEC1;
    -webkit-border-radius: 0 100% 0 0;
    -moz-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
}
.icon-border{
    width: 53px;
    height: 53px;
    margin: 5px auto;
    line-height: 49px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.img-text{
    padding-left: 30%;
}
.icon-label{
    font-size: 34px;
    line-height: 52px;
    padding-left: 14px;
}
.bottom-right {
    margin: -4px 0 0 -2px;
    padding: 23px 20px 0 0;
    background-color: #5CCC99;
    -webkit-border-radius: 0 0 100% 0;
    -moz-border-radius: 0 0 100% 0;
    border-radius: 0 0 100% 0;
}
.icon-house{
    font-size: 38px;
    color: #fff;
    padding-left: 6px;
}
.bottom-left {
    margin: -4px 0 0 -148px;
    padding: 23px 0 0 20px;
    background-color: #068D45;
    -webkit-border-radius: 0 0 0 100%;
    -moz-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
}
.icon-dollars{
    font-size: 34px;
    line-height: 52px;
    padding-left: 6px;
}
.top-left {
    margin: -150px 0 0 -148px;
    padding: 47px 0 0 20px;
    background-color: #006F3D;
    -webkit-border-radius: 100% 0 0 0;
    -moz-border-radius: 100% 0 0 0;
    border-radius: 100% 0 0 0;
}
.icon-man{
        font-size: 38px;
        color: #fff;
        padding-left: 14px;
}
.head-cont-wraper{
    display: table;
    min-height: 453px;
}
.head-button{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    background-color: #3f3f3f;
    border-top: 6px solid #aed134;
    text-align: center;
 }
 .next-color{
    /*background-color: #F54337;*/
    border-top-color: #150660;
 }
 .contector{
    margin: -5px 0 15px;
    font-size: 32px;
    font-family: 'brandon_grotesque', 'Lato', sans-serif;
    text-align: center;
 }
 .head-button p{
    margin-bottom: 10px;
    font-size: inherit;
    font-weight: normal;
 }
.cont-body{
    display: table-cell;
    vertical-align: middle;
}
.cont-body h3{
    margin-bottom: 5px;
    font-size: 34px;
    font-family: 'brandon_grotesque', 'Lato', sans-serif;
    color: #57f30b;
}
.cont-body h4{
    margin-bottom: 5px;
    font-size: 29px;
    font-family: 'brandon_grotesque', 'Lato', sans-serif;
    color: #FEE600;
    line-height: 30px;
}
.cont-body p{
    margin-bottom: 40px;
    font-size: 20px;
    color: #FFF;
    font-weight: 500;
    font-family: serif;
}
.wrap-text{
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.wrap-text h3{
    margin-bottom: 5px;
    font-size: 29px;
    font-family: 'brandon_grotesque', 'Lato', sans-serif;
    color: #150660;
}
.wrap-text h4{
    margin: 5px 0 15px;
    font-size: 21px;
    font-family: 'brandon_grotesque', 'Lato', sans-serif;
    color: #150660;
}
.wrap-text p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #333;
    line-height: 28px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.section-headline{
    padding: 25px 0 15px 30px;
    font-size: 28px;
    font-family: 'museo_slab', sans-serif;
    font-weight: normal;
    color: #57babd;
   border-top: 1px solid #7a7979;
    display: table;
    width: 100%;
}
.connect-icon{
    display: inline-block;
    width: 59px;
    height: 59px;
    margin-right: 5px;
    font-size: 36px;
    line-height: 55px;
    background-color: #1d6c92;
    border: 2px solid #57babd;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.section-headline span{
    display: table-cell;
    vertical-align: middle;
}
.gd-btn-primary {
    /*background-color: #4682b4;
    border-color: #4682b4;*/
    color: #fff;
    background-color: #078a99 !important;
    border-color: #078a99 !important;
    font-size: 23px;
    letter-spacing: 3px;
    padding: 10px 40px;

}
.sect-head{
    padding-left: 10px;
}
.guide-line-footer{
    padding: 16px 0 22px;
   /* background-color: #078A99;*/
   background-color: #150660;
    border-top: 4px solid #6dbac3;
    font-family: 'brandon_grotesque', 'Lato', sans-serif;
    width: 100%;
    z-index: 200;
    top: 0px;
}
.left-arrow{
    position: relative;
    height: 120px;
   /* margin: -16px 0 50px;*/
    margin: 50px 0 -22px;
    padding-top: 55px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    letter-spacing: 3px;
}
.guide-part{
    position: absolute;
    top: 0;
    z-index: -1;
    border-top: 0;
    border-bottom: 120px solid #fff;
    left: 0;
    border-right: 49vw solid rgba(255,255,255,0);
    border-left: 49vw solid rgba(255,255,255,0);
}
.started{
    position: relative;
    border: 0;
    z-index: 0;
}
.started h2{
    margin: 20px 0 40px;
    font-size: 33px;
    color: #fff;
    text-align: center;
}

/*blog page css*/
.thumbnail_div{
    padding: 15px 0px;
}

.thumbnail_div img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.article_div{
    background: #f1f6f1;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.article_div h2{
    font-size: 34px;
    padding: 25px 0px;
}

.article_div h2 a{
    text-decoration: none;
    outline: none;
    color: #0682D5;
}

.post_category{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.post_category ul{
    list-style-type: none;
}

.post_category ul li{
    display: inline-block;
    margin: 0 8px 18px 0px;
    padding: 0px;
    float: left;
}

.post_category ul li a{
    background-color:#150660;
    color: #15a0e5;
    padding: 5px 12px;
    margin: 0px;
}

.post-content{
    padding-top: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    line-height: 1.5em;
}

.post-content p{
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.post-content a{
    text-decoration: underline;
    color: red;
}

.aside_div{
    background: #f1f6f1;
    padding: 30px 30px;
    border-radius: 5px;
}

.widget_di{
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
}

.widget-title{
    background-color: #150660;
    color: #fff;
    font-family: sans-serif,Arial,serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 15px 0px;
}

.textwidget{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.textwidget ul{
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}    

.textwidget ul li{
    color: #999;
    display: block;
    font-size: 16px;
    padding: 12px 0px 12px 3px;
    border-top: 1px solid #F2F2F2;
    clear: both;
    overflow: hidden;
}

.textwidget i{
    background: #2029D7;
    color: #fff;
    padding: 29px 23px;
    font-size: 1.7em;
    float: left;
    margin-right: 10px;
}

.textwidget ul li a{
    text-decoration: none;
    color: #0682D5;
}

.textwidget{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#letstalk-wrap{
    width: 100%;
    background: #920c57;
    height: auto;
    padding-bottom: 25px;
    position: relative;
    background-attachment: fixed;
}

.lets-talk-row{
    width: 100%;
}

.lets-talk-row h2{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    font-family: amaranthbold_italic;
}

.lets-talk-row p{
    color: #8dcfec;
    font: 21px/37px amaranthregular;
    text-align: center;
}

.lets-talk-row ul{
    overflow: hidden;
    margin-top: 30px;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.lets-talk-row ul li{
    float: left;
    padding: 0 53px 28px 54px;
    min-width: 250px;
    text-align: center;
    position: relative;
    width: 25%;
}

.lets-talk-row ul li a{
    text-align: center;
    display: block;
}

.lets-talk-row ul li span{
    display: inline-block;
    height: 122px;
    border-radius: 100px;
}

.lets-talk-row ul li figure{
    height: 122px;
    line-height: 122px!important;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 188px;
    z-index: 2;
}

.lets-talk-row ul li figure{
    
}

.figure img{
    vertical-align: middle;
    width: auto;
    max-width: 100%;
}

.ani_bg-2{
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    height: 115px;
    width: 115px;
    border-radius: 100%;
    opacity: 0;
    position: absolute;
    left: 91px;
    top: 10px;
}

.ani_bg{
    background: none repeat scroll 0 0 #2F0D54;
    border-radius: 100%;
    display: inline-block;
    height: 108px;
    left: 94px;
    position: absolute;
    top: 7px;
    border: 2px solid #fff;
    width: 108px;
    z-index: 1;
}


.lets-talk-row ul li p{
    font: 18px/25px clanotbook;
    color: #fff;
    display: block;
}

.lets-talk-row ul li p small{
    font:20px/35px alphamack_aoeregular;
    color: #fff;
    display: block;
}

.social-share-wrap{
    width: 100%;
    background: #1c202b;
    padding: 30px 0;
    border-top: 1px solid #31353f;
    border-bottom: 1px solid #2f333d;
}

.social-share-wrap ul{
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: block;
}

.social-share-wrap ul li{
    float: left;
    min-width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-share-wrap ul li figure{
    margin: 0px auto;
    width: 62px;
    height: 62px;
    border: 2px solid #2d3e61;
    padding: 15px 0px;
    transition: .5s;
}

.social-share-wrap ul li figure:hover{
    border-radius:50%; 
}
.social-share-wrap ul li h5{
    font: 27px/50px clanotthin;
    color: #3f5e9b;
}

.social-share-wrap ul li h6{
    font: 10px/20px clanotmedium;
    color: #808288;
    text-transform: uppercase;
    padding-right: 10px;
}

/*About us page*/
.toolbox{
    width: 100%;
    margin-bottom: 35px;
}

.toolbox ul{
    display: inline-block;
    position: absolute;
}

.toolbox ul li{
    list-style: none;
    position: relative;
    float: left;
    padding: 0 5px 0px 0px;
}

.article_div p{
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

#baguetteBox-overlay .full-image img{
    max-height: 300px !important;
    max-width: 435px !important;
}
